*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #dad6d6;
}

main{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100vw;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
}
.container{
    height: auto;
    max-width: 300px;
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 0 0 4px 6px #73a573;
    display: flex;
    padding: 5px;
    /* padding-bottom: 10px; */
    flex-direction: column;
    background-color: #e6e3e3;
}
.container div h1{
    color: green;
    font-weight: 600;
    text-decoration: underline;
}
form{
    display: flex;
    min-width: 200px;
    flex-direction: column;
    color: green;
    font-weight: 600;
}

form input{
    color: green;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    padding: 2px;
    margin: 3px;
    font-size: 17px;
}
form button{
    color: green;
    font-weight: 600;
    font-size: 20px;

}

.output{
    width: 100%;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px #73a573;

}
.output-child  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}

.task-card {
    width: 55%;
    border: 1px solid #73a573;
    padding: 7px;
    display: flex;
    border-radius: 6px;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}


/* .task-card div{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.done-btn,
.remove-btn{
    cursor: pointer;
} */


